/*ESTRUCTURA DE CSS*/
/*SPV:
    SELECTOR= ETIQUETA/CLASE/ID
    PROPIEDAD= ATRIBUTO/CARACTERISTICA QUE DA ESTRUCTURA
    VALOR= TAMAÑO O VALOR QUE ADQUIERE ESA PROPIEDAD*/


/*///////////////
ESTILOS RESET
////////////////
RESET CSS= ESTILOS RESETEADOS PARA TRABAJAR DESDE CERO, PARTIMOS DEL LLAMADO "*" = TODO EL DOC HTML*/
*{
    margin: 0; /*ESPACIO POR FUERA DE LA CAJA, DEL CONTORNO PARA AFUERA*/
    padding: 0;/*RELLENO, ESPACIADO INTERNO*/
    box-sizing: border-box;/*TAMAÑO DE CAJA O DOCUMENTO*/
    font-family: 'Raleway', sans-serif;
}

/*TIPOGRAFIA Raleway DISPLAY PARA TODO EL DOC*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*TIPOGRAFIA Nunito Sans DISPLAY PARA HEADER Y FOOTER*/
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&display=swap');

/*LLAMAMOS A LA LISTA PARA SACAR TODOS LOS ESTILOS QUE TIENE*/
li{
    list-style: none;
}



/*ETIQUETA DE LINK*/
a{ 
    display: inline-block;
    font-style: none;
    text-decoration: none;
    font-family: 'Nunito Sans', sans-serif;
    color: #1F2129;
    transition: 1s;
}

/*/////////////////
ESTILO BODY
////////////////////*/

#body{
    max-width: 1440px;
    margin: o auto; /*CENTRADO DE CONTENIDO HORIZONTALMENTE*/
}

/*///////////////
ESTILOS DEL NAVBAR/HEADER
///////////////////*/

#header {
    margin: 0 auto;
    padding: 5;
    box-sizing: border-box;
    font-family: 'Nunito Sans', sans-serif;
}

#nav {
    background-color:#88868A;
}

.nav__ul {
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
    font-size: 25px;
    width: 100%;
    height: 100%;
}

.nav__ul a:hover {
    color: white;
    font-size: 25px;
    transition: 1s;
}


.nav-ul__logo{
    font-size: 20px;
}

/*/////////////////
ESTILO INDEX/MAIN/GRILLAS
////////////////////*/

/*//////////////////////
LAS ETIQUETAS EN LINEA NO NOS PERMITEN MODIFICAR SU ESTRUCTURA
LAS ETIQUETAS EN BLOQUE NOS PERMITEN MODIFICAR SU ESTRUCTURA 
//////////////////////*/

#main{
    min-height: 100vh; /*ALTO MINIMO= MAIN OCUPANDO SIEMPPRE EL 100% DEL VIEWPORT/VISTA DISPONIBLE EN PANTALLA*/
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#pageInicio__grid{
    display: grid;
    width: 100%;
    gap: 10px;
    margin: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "inicioGrid1" 
    "inicioGrid2"
    ;
}

.pageInicio__grid1{
    grid-area: inicioGrid1;
}

.pageInicio__grid2{
    grid-area: inicioGrid2;
}

.pageInicio-grid1__p{
    margin: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    font-size: 30px;
    letter-spacing: 6px;
    transition: 1s;
}

.pageInicio-grid1__p:hover {
    color:#81964D;
    letter-spacing: 10px;
    transition: 1s;
}

.pageInicio-grid2__p{
    margin: 20px;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    font-size: 30px;
    letter-spacing: 2px;
    transition: 1s;
}

.pageInicio-grid2__p:hover{
    color:#81964D;
    letter-spacing: 3px;
    transition: 1s;
}

/*/////////////// 
APRENDEMOS MODELO DE CAJA
///////////////////*/

/* TANTO PARA EL MARGIN PADDING Y BORDER =
PODERMOS ESPECIFICAR O SUS CUATRO LADOS, O LLAMAR POR CADA PROPIEDAD SUS LADOS TAMBIEN*/
/* MARGIN 
TOP/RIGHT/BOTTOM/LEFT
                1 valor= todos sus lados iguales
                2 valores= primero Top/Bottom
                3 valores= primero llama al Top y Bottom y por ultimo a Left y Right
                Top y Bottom diferenter / Left y Right iguales
                4 valores= especifico para cada lado*/

/* PADDING ES EL RELLENO INTERNO*/

#productosQueUtilizamos{
    width:100%; /*ANCHO DEL ELEMENTO*/ 
    height: 100%; /*ALTO DEL ELEMENTO*/ 
    /*vh= 100% DISPONIBLE DE ALTO DE LA VISTA EN PANTALLA */
    /*wh= 100% DISPONIBLE PERO DEL ANCHO DE LA VISTA EN PANTALLA*/
    background-color: #81964D;
    display: flex; /*un articulo al lado del otro*/
    justify-content: center;/*centrar*/
    gap: 50px; /*espacio entre las cajas*/
    align-items: center; /*ajusto el alto de la caja*/
    flex-wrap: wrap;
    padding: 10px;
    margin: 10px;
    transition: 1s;
}

.productosQueUtilizamos__banner {
        width: 100%;
        background-color: #88868A;
        display: flex;
        justify-content: center;
        align-items:center;
        gap: 50px;
        flex-wrap: wrap;
        padding: 20px;
        font-size: 20px;
        margin: 10px;
    }

.productosQueUtilizamos__box:active{
    box-shadow: 3px 5px 5px #1F2129;
    transition: 1s;
}

.productosQueUtilizamos__box {
    width: 200px;
    height: 60px;
    overflow: auto;/*PROPIEDAD QUE AJUSTA EL CONTENIDO*/
    padding: 5px;
    display: flex;
}

.productosQueUtilizamos__box img{
    width: 100%;
}

#nuestrosClientes{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
    height: 100vh;
    margin: 20px;
    font-size: 70px;
    grid-template-areas: 
    "nuestrosClientes__texto" "nuestrosClientes__imagen1" "nuestrosClientes__imagen2" "nuestrosClientes__imagen3" /*FILA1*/
    "nuestrosClientes__imagen4" "nuestrosClientes__imagen5" "nuestrosClientes__imagen6"
    ;
}

.nuestrosClientes__texto{
    grid-area: nuestrosClientes__texto;
}

.nuestrosClientes__imagen1{
    grid-area: nuestrosClientes__imagen1;
}

.nuestrosClientes__imagen2{
    grid-area: nuestrosClientes__imagen2;
}

.nuestrosClientes__imagen3{
    grid-area: nuestrosClientes__imagen3;
}

.nuestrosClientes__imagen4{
    grid-area: nuestrosClientes__imagen4;
}

.nuestrosClientes__imagen5{
    grid-area: nuestrosClientes__imagen5;
}

.nuestrosClientes__imagen6{
    grid-area: nuestrosClientes__imagen6;
}



.nuestrosClientes__grid{
    display: grid;
    justify-content: center;
    margin: 10px;
    width: 100%;
    height: 100%;
    font-size: 30px;
    padding: 10px;
    gap: 30px
    ;
}

/*///////////////
ESTILOS DE PAGE SERVICIOS/GRILLAS
////////////*/

#main h1{
    text-align: center;
    margin-top: 20px;
    letter-spacing: 3px;
}

#serviciosGrid{
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: 200px 100px 200px;
    gap: 20px;
    height: 100vh;
    margin: 20px;
    grid-template-areas: 
    "serviciosGrid1 serviciosGrid2 serviciosGrid3 serviciosGrid4" /*FILA1*/
    "serviciosGrid5 serviciosGrid7 serviciosGrid9 serviciosGrid11" /*FILA2*/
    "serviciosGrid6 serviciosGrid8 serviciosGrid10 serviciosGrid12" /*FILA3*/
    ;
}


.serviciosGrid1{
    grid-area: serviciosGrid1;
}

.serviciosGrid2{
    grid-area: serviciosGrid2;
}

.serviciosGrid3{
    grid-area: serviciosGrid3;
}

.serviciosGrid4{
    grid-area: serviciosGrid4;
}

.serviciosGrid5{
    grid-area: serviciosGrid5;
}

.serviciosGrid6{
    grid-area: serviciosGrid6;
}

.serviciosGrid7{
    grid-area: serviciosGrid7;
}

.serviciosGrid8{
    grid-area: serviciosGrid8;
}

.serviciosGrid9{
    grid-area: serviciosGrid9;
}

.serviciosGrid10{
    grid-area: serviciosGrid10;
}

.serviciosGrid11{
    grid-area: serviciosGrid11;
}

.serviciosGrid12{
    grid-area: serviciosGrid12;
}

.boxGrid img{
    width: 100%;
    height: 100%;
    transition: 1s;
}

.boxGrid img:active {
    box-shadow: 5px 8px 8px #1F2129;
    transition: 1s;
}

.boxGridTexto{
    display: grid;
    margin-top: 30px;
    width: 100%;
    height: 100%;
    text-align: center;
    letter-spacing: 2px;
    font-size: 20px;
    align-items: center;
    transition: 1s;
    background-color: #81964D;
}

.boxGridTexto:hover {
    color: #F5F2FF;
    transition: 1s;
}

.boxGridTexto2{
    display: grid;
    width: 100%;
    height: 100%;
    text-align: center;
    align-items: center;
    letter-spacing: 2px;
    font-size: 15px;
    transition: 1s;
}

.boxGridTexto2:hover{
    color: #81964D;
    transition: 1s;
}

/*///////////////
ESTILOS DE PAGE NOSOTROS/GRILLAS
////////////*/

#nosotrosBanner{
    display: flex; /*un articulo al lado del otro*/
    justify-content: center;
    align-items: center;
    margin: 20px;
    background-color: rgba(128, 128, 128, 0.267);
}

#nosotrosGrid{
    display: grid;
    gap: 40px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 300px);
    grid-template-areas: 
    "nosotrosGridTexto1 nosotrosGridTexto2"
    "nosotrosGridImg nosotrosGridTexto3";
    margin: 20px;

}

.boxNosotrosGrid img{
    width: 100%;
    height: 100%;
}

.nosotrosGridTexto1{
    grid-area: nosotrosGridTexto1;
}

.nosotrosGridTexto2{
    grid-area: nosotrosGridTexto2;
}

.nosotrosGridImg{
    grid-area: nosotrosGridImg;
}

.nosotrosGridTexto3{
    grid-area: nosotrosGridTexto3;
}



/*///////////////
ESTILOS DEL FOOTER
////////////*/

/*LOS ATRIBUTOS LOS LLAMAMOS DE LA SIGUIENTE MANERA=
ID= #
CLASS= .
ETIQUETAS/SELECTOR= POR SU NOMBRE*/

#footer{
    margin-top: auto;
    width: 100%; /*ANCHO, el 100% del ancho disponible en pantalla*/
    height: 150px; /*ALTO, genera el espacio respecto al contenido alojado dentro*/
    background-color:#81964D; /*COLOR DE FONDO*/
    font-family: 'Nunito Sans', sans-serif;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 20px;
}

.footerLogo{
    width: 50px;
    margin: 10px;
    font-size: 25px;
    overflow: auto;
}

.footerLinks{
    text-align: center;
    letter-spacing: 2px;
    gap: 2px;
    font-size: 20px;
    transition: 1s;
}

.footerRedes{
    display: flex;
    gap: 10px;
    border-radius: 100%;
    transition: 1s;
}

.footerRedes i{
    display: flex;
    align-items: center;
    font-size: 25px;
    height: 50px;
    width: 100%;
}


.footerRedes:hover {
    color: white;
    font-size: 20px;
    transition: 1s;
}

/*/////////////////////////////
BREACKPOINTS
////////////////////////////*/

@media(max-width: 600px) {
    #serviciosGrid{
        grid-template-columns: 1fr; 
        grid-template-rows: repeat(8, 200px);
        grid-template-areas: 
        "serviciosGrid1"
        "serviciosGrid2"
        "serviciosGrid3"
        "serviciosGrid4"
        "serviciosGrid5"
        "serviciosGrid6"
        "serviciosGrid7"
        "serviciosGrid8"
        ;
    }

    #nosotrosGrid{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 300px);
        grid-template-areas: 
        "nosotrosGridTexto1"
        "nosotrosGridTexto2"
        "nosotrosGridImg"
        "nosotrosGridTexto3"
        ;
    }

    #footer{
        flex-direction: column;
        gap: 20px;
    }

    #header{
        height: auto;
    }

    #nav{
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    #nav ul li {
        display: block;
    }
}

@media (min-width: 768px) and (orientation:landscape) {

}